@page
@model MegaDeskWeb.Pages.Quotes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form>
    <p>
        <select asp-for="SortBy">
            <option value="">All</option>
            <option value="date">Date</option>
            <option value="name">Name</option>
        </select>
        Cystomer Name: <input type="text" asp-for="SearchCustomerName" />
        <input type="submit" value="Filter" />
    </p>
</form>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].DateQuote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].NumDrawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].DeliveryOption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quote[0].TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Quote) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateQuote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumDrawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryOption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
